{% extends 'AppCoder/base.html' %}

{% load static %}
{% block title %}
Inicio
{% endblock %}
{% block contenido_que_cambia%}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Bienvenidos a la Página Administración de Ventas (CMR) Coca Cola - Entrega IV</h1>
                       
                              
{% endblock%}