{% extends 'AppCoder/base.html' %}
{% load static %}

{% block title %}CLIENTES{% endblock %}

{% block contenido_que_cambia%}

<h1> PAGINA DE MOSTRAR CLIENTES DE LA BD </h1>
 
<ul>
    {% for cliente in object_list%}
        <li>
            <p>Id: {{cliente.id}} - Nombre: {{cliente.nombre}} - Apellido: {{cliente.apellido}}</p>
            <p>
                {% comment %}
                <a href="{% url 'editar_clientes'></a>
                <a href="{% url 'detalle_clientes'></a>
                <a href="{% url 'delete_clientes'></a>
                {% comment %}
            </p>
        <li>
    {% endfor %}
</ul>
    
{% endblock %}
        
        

